@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse; /* Coloca os controles à esquerda */
}

.video-container {
  display: flex; /* Permite organizar video e controles */
  align-items: center; /* Alinha verticalmente */
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem; /* Espaço entre controles e vídeo */
}

.control-group {
  margin-bottom: 1rem;
}

.control-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.control-group input,
.control-group select {
  width: 100%;
}

#localWaveform {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
}

/* Adicione esta regra ao seu arquivo style.css */
#logImage {
  width: 40px; /* Largura desejada */
  height: 40px; /* Altura desejada */
}

/* Responsividade */
@media (max-width: 768px) {
  .videos {
    flex-direction: column; /* Empilha vídeos em telas menores */
  }
  #localControls {
    margin-right: 0; /* Remove margem quando empilhado */
    margin-top: 1rem; /* Adiciona margem entre vídeo e controles */
  }
}

video {
  width: 35vw; /* Exemplo de largura */
}
#localControls {
  width: 15vw; /* Exemplo de largura */
}

