/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* Estilos originais */
body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the image rounded */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.control-group {
  margin-bottom: 1rem;
}

.control-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.control-group input,
.control-group select {
  width: 100%;
}

#localWaveform {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
}

/* Ajustes para a imagem do log */
#logImage {
  width: 40px;
  height: 40px;
  /* Adicione outras propriedades necessárias para posicionar conforme desejado */
}

/* Nova regra para posicionar os controles */
.video-container {
  display: flex;
  flex-direction: row; /* Ajuste para alinhar controles e vídeos na horizontal */
  align-items: center;
  justify-content: center; /* Centralizar horizontalmente */
  margin-bottom: 1rem;
}

.local-video-wrapper, .remote-video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

#webcamVideo {
  width: 40vw;
  height: 30vw;
  background: #2c3e50;
}

#remoteVideo {
  width: 40vw;
  height: 30vw;
  background: #2c3e50;
}


